body {
    font-family: Times;
    font-size: 11px;
    color: #7c4d8f;
    text-align: center;
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-image: url('Images/background.gif');
    background-color: black;
    background-position:center;
    background-size: cover;
    margin: 0;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('Images/mirrorcontainer.png');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    font-family: Times;
    color: #7c4d8f;
    text-align: center;
    z-index: 1;
    position: absolute;
    margin-top: 150px;
}

h1, h2, p {
    color: #7c4d8f;
    margin: 15px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

p {
    font-size: 16px;
    width: 400px;
}

.custom-button {
    background-color: transparent;
    color: #7c4d8f;
    border: none; 
    padding: 6px 6px; 
    font-size: 16px; 
    font-family: Times;
    cursor: pointer; 
    border-radius: 5px;
    margin: 10px;
    transition: color 0.5s;
    text-decoration: none;
    display: inline-block;
}

.custom-button:hover {
    background-color: transparent;
    color:#e7adff;
}